[submodule "2024H/dds/termproject/project-rtl"]
	path = 2024H/dds/termproject/project-rtl
	url = git@github.com:MortenSorensenNOR/TFE4141-DDS1-Term-Project.git
[submodule "H25/nummat/project_2"]
	path = H25/nummat/project_2
	url = git@github.com:MortenSorensenNOR/TMA4215-Numerical-Mathematics-Project-2.git
