.cache/
.vscode/
.nvim/
build/
subprojects/
*.png
*.jpg
*.pdf
*.ppm
*.out
*.pygtex
*.log
*.aux
*.fls
*.blg
*.toc
*.zip
*.tar.gz
*.gz
*.bbl
*.fdb_latexmk
*.json
*.jou
.Xil/
fpga_Implmnt/
tdt4102/
tdt4110/
handout/
